#click {
	height: 150px;
	width: 150px;
	text-align: center;
	line-height: 150px;
	color: #fff;
	background-color: #999;
}
#mouse {
	height: 150px;
	width: 150px;
	text-align: center;
	line-height: 150px;
	color: #fff;
	background-color: blue;
}
#moreInfo {
	display: none;
}
#signUp {
	display: none;
	position: fixed;
	top: 10%;
	right: 10%;
	width: 80%;
	height: 80%;
	background-color: #d0d0d0;
	box-shadow: 0 0 5px #666;
	padding: 50px;
	border-radius: 3px;
}
#closePopUp {
	position: absolute;
	right: 15px;
	top: 15px;
	padding: 15px;
	cursor: pointer;
}